<div class="container ms-4 mt-5 d-flex flex-column">
  <h1 class="text-dark-blue-medium mb-5">Создание дохода/расхода</h1>
  <div class="row">
    <div class="col-12 col-md-4">
      <input type="text" class="form-control mb-3" placeholder="Тип...">
      <input type="text" class="form-control mb-3" placeholder="Категория...">
      <input type="text" class="form-control mb-3" placeholder="Сумма в $...">
      <input type="text" class="form-control mb-3" placeholder="Дата...">
      <input type="text" class="form-control mb-3" placeholder="Комментарий...">
      <div class="d-flex gap-2">
        <button class="btn btn-success">Создать</button>
        <button class="btn btn-danger">Отмена</button>
      </div>
    </div>
  </div>


</div>
