<div class="container ms-4 mt-5 d-flex flex-column">
    <h1 class="text-dark-blue-medium mb-5">Редактирование дохода/расхода</h1>
    <div class="row">
        <div class="col-12 col-md-4">
            <input type="text" class="form-control mb-3" value="Доход">
            <input type="text" class="form-control mb-3" value="Зарплата">
            <input type="text" class="form-control mb-3" value="500$">
            <input type="text" class="form-control mb-3" value="11.09.2022">
            <input type="text" class="form-control mb-3" placeholder="Комментарий">
            <div class="d-flex gap-2">
                <button class="btn btn-success">Сохранить</button>
                <button class="btn btn-danger">Отмена</button>
            </div>
        </div>
    </div>


</div>
