<div class="expenses-create">

    <div class="container ms-4 mt-5 d-flex flex-column">
        <h1 class="text-dark-blue-medium mb-5">Создание категории расходов</h1>
        <div class="row">
            <div class="col-12 col-md-4">
                <input type="text" class="form-control mb-3" placeholder="Введите название" id="title-expense">
                <div class="d-flex gap-2">
                    <button class="btn btn-success" id="create-btn">Создать</button>
                    <button class="btn btn-danger">Отмена</button>
                </div>
            </div>
        </div>


    </div>
</div>
